h1{
    background-color: rgb(140, 140, 240);
    size: 200rem;
    font-style: italic;
    font-family: cursive;
    font-weight: 100;
}
.text{
    text-align: center;
}
p {
    font: green;
}
h3{
     color: rgb(196, 42, 42);
}